<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/assets/style.css">
    <script src="/assets/htmx.js"></script>
</head>
<body>

<h3>Group By</h3>
{{ range .GroupByOptions }}
<div>
    <input type="checkbox" id="group-{{ . }}"  {{ if $.Request.IsGroupSelected . }}checked{{ end }} hx-get="{{ $.Request.ToggleGroupLink . }}" hx-target="body" hx-push-url="true"/>
    <label for="group-{{ . }}">{{ . }}</label>
</div>
{{ end }}

<table>
    <thead>
        <tr>
            {{ range .AggData.Columns }}
                {{$toggleOrderLink := $.Request.ToggleOrderLink .}}
                    <th {{ if ne $toggleOrderLink "" }}hx-get="{{ $toggleOrderLink }}" hx-target="body" hx-push-url="true"{{ end }}>
                        {{ . }}
                        {{ if $.Request.IsOrderAsc . }}
                            <span>&#x25B2;</span>
                        {{ end }}
                        {{ if $.Request.IsOrderDesc . }}
                            <span>&#x25BC;</span>
                        {{ end }}
                    </th>
            {{ end }}
        </tr>
    </thead>
    <tbody>
        {{range .AggData.Rows}}
        <tr>
            {{ range .}}
                <td>{{.}}</td>
            {{ end }}
        </tr>
        {{end}}
    </tbody>
</table>
<h3>SQL Query</h3>
<textarea rows="10" cols="140">
{{ .AggData.SQLQuery }}

{{ range .AggData.SQLQueryArgs }}{{ . }}{{ end }}
</textarea>

</body>
</html>
