<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <script src="/assets/htmx.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/flatpickr.min.css">
    <script src="/assets/flatpickr.js"></script>
</head>
<body>
<div class="container-fluid" hx-target="body" hx-push-url="true" hx-params="none">
    <div class="row justify-content-start">
        <div class="col-1">
            <label>Group by</label>
            {{ range .GroupByOptions }}
                <div>
                    <input type="checkbox" id="group-{{ . }}"
                           {{ if $.Request.IsGroupSelected . }}checked{{ end }}
                           hx-get="{{ $.Request.LinkToggleGroup . }}"/>
                    <label for="group-{{ . }}">{{ . }}</label>
                </div>
            {{ end }}
        </div>
        <div class="col">
            <label>Time Range</label>
            <fieldset  style="max-width: 450px">
                <div class="input-group">
                    <button class="btn btn-primary" hx-get="{{ $.Request.LinkPrev }}">&larr;</button>
                    <input class="flatpickr form-control" id="start-date" value="{{.Request.StartValue}}"/>
                    <span class="input-group-text">To</span>
                    <input class="flatpickr form-control" id="end-date" value="{{.Request.EndValue}}"/>
                    <button class="btn btn-primary" hx-get="{{ $.Request.LinkNext }}">&rarr;</button>
                </div>
                <script>
                    function updateRange() {
                        var start = new Date(document.getElementById('start-date').value);
                        var end = new Date(document.getElementById('end-date').value);
                        let urlObject = new URL(window.location.href);
                        urlObject.searchParams.set("range", "");
                        urlObject.searchParams.set("start", start.toISOString());
                        urlObject.searchParams.set("end", end.toISOString());
                        let href = urlObject.href;
                        htmx.ajax('GET', href).then(function () {
                            history.pushState({}, '', href);
                        })
                    }

                    flatpickr("#end-date", {
                        enableTime: true,
                        dateFormat: "Y-m-d H:i",
                        time_24hr: true,
                        minDate: document.getElementById('start-date').value,
                        minuteIncrement: 60,
                        onClose: updateRange,
                    });

                    flatpickr("#start-date", {
                        enableTime: true,
                        dateFormat: "Y-m-d H:i",
                        time_24hr: true,
                        maxDate: document.getElementById('end-date').value,
                        minuteIncrement: 60,
                        onClose: updateRange
                    });
                </script>
            </fieldset>
            <div class="mt-2">
                <div class="btn-group" role="group" aria-label="Basic example">
                    {{ range .TimeRangeOptions }}
                        <input type="radio"
                               class="btn-check"
                               id="range-{{ .Value }}"
                               autocomplete="off"
                               {{ if eq .Value $.Request.Range }}checked{{ end }}
                               name="range"
                               hx-get="{{ $.Request.LinkSetRange .Value }}"
                               hx-trigger="change"
                        >
                        <label class="btn btn-primary" for="range-{{ .Value }}" class="form-label">{{.Label}}</label>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            {{ range .AggData.Columns }}
                {{$toggleOrderLink := $.Request.LinkToggleOrder .}}
                <th {{ if ne $toggleOrderLink "" }}hx-get="{{ $toggleOrderLink }}"
                        {{ end }}>
                    {{ . }}
                    {{ if $.Request.IsOrderAsc . }}
                        <span>&#x25B2;</span>
                    {{ end }}
                    {{ if $.Request.IsOrderDesc . }}
                        <span>&#x25BC;</span>
                    {{ end }}
                </th>
            {{ end }}
        </tr>
        </thead>
        <tbody>
        {{range .AggData.Rows}}
            <tr class="border">
                {{ range .}}
                    <td>{{.}}</td>
                {{ end }}
            </tr>
        {{end}}
        </tbody>
    </table>
    <h3>SQL Query</h3>
    <textarea rows="10" cols="140">
{{ .AggData.SQLQuery }}
        {{ range .AggData.SQLQueryArgs }}{{ . }}{{ end }}
</textarea>
</div>
</body>
</html>
