<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>

<ul>
    <li>Add Group By</li>
    {{ range .Request.AvailableGroupBy }}
    <li><a href="{{ $.Request.AddGroupByLink . }}">{{ . }}</a></li>
    {{ end }}
</ul>

<ul>
    <li>Remove Group By</li>
    {{ range .Request.GroupBy }}
    <li><a href="{{ $.Request.RemoveGroupByLink . }}">{{ . }}</a></li>
    {{ end }}
</ul>

<table>
    <thead>
        <tr>
            {{ range .AggData.Columns }}
            <th>{{ . }}</th>
            {{ end }}
        </tr>
    </thead>
    <tbody>
        {{range .AggData.Rows}}
        <tr>
            {{ range .}}
                <td>{{.}}</td>
            {{ end }}
        </tr>
        {{end}}
    </tbody>
</table>
<h3>SQL Query</h3>
<textarea>
{{ .AggData.SQLQuery }}

{{ range .AggData.SQLQueryArgs }}
{{ . }}
{{ end }}
</textarea>

</body>
</html>
