<!DOCTYPE html>
<html>
<head>
    <title>pgkube</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <script src="/assets/htmx.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/script.js"></script>
</head>
<body>
<div
        class="container-fluid"
        hx-target="this"
        hx-get="/workload"
        hx-select="#content"
        hx-trigger="none"
        hx-params="none"
        hx-indicator="#indicator"
        hx-sync="this:replace"
        hx-swap="outerHTML"
        hx-disabled-elt=".disable-during-update"
        id="content"
>
    <div id="alert-placeholder"></div>
    <div id="indicator" class="htmx-indicator spinner-border position-fixed right-0" role="status" style="right: 0">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="row">
        <div class="col pt-4" style="max-width: 21em">
            <div class="input-group my-2">
                <span class="input-group-text" style="min-width: 4em">From</span>
                <input
                        id="start-local"
                        name="start"
                        type="datetime-local"
                        class="disable-during-update local-iso form-control"
                        iso-date="{{.Request.StartValue}}"
                />
            </div>
            <div class="input-group my-2">
                <span class="input-group-text" style="min-width: 4em">Until</span>
                <input
                        id="end-local"
                        name="end"
                        type="datetime-local"
                        class="disable-during-update local-iso form-control"
                        iso-date="{{.Request.EndValue}}"
                />
            </div>
            <div class="btn-group my-2 d-flex">
                <a id="range-prev"
                   class="btn btn-outline-primary disable-during-update"
                   hx-get="{{.Request.LinkPrev}}"
                >Prev {{.Request.Duration }}</a>
                <a id="range-next"
                   class="btn btn-outline-primary disable-during-update"
                   hx-get="{{.Request.LinkNext}}"
                >Next {{.Request.Duration }}</a>
            </div>
            <div class="btn-group my-2 d-flex">
                {{ range .TimeRangeOptions }}
                    <input
                            type="radio"
                            class="btn-check form-check-input disable-during-update"
                            id="range-{{ .Value }}"
                            {{ if eq .Value $.Request.Range }}checked{{ end }}
                            name="range"
                            hx-get="{{ $.Request.LinkRange .Value }}"
                    >
                    <label
                            class="btn btn-outline-primary" for="range-{{ .Value }}"
                            class="form-label"
                    >{{.Label}}</label>
                {{ end }}
            </div>
            <div class="">
                <form id="add-label"
                      onsubmit="event.preventDefault(); addLabel()"
                      class="my-2"
                >
                    <div class="input-group d-flex">
                        <input type="text" name="add-label" class="form-control" id="add-label-name"/>
                        <button id="add-label-btn" class="btn btn-outline-primary disable-during-update">Add label</button>
                    </div>
                </form>
                {{ range .Cols }}
                    <div class="form-check">
                        <input
                                class="form-check-input disable-during-update"
                                type="checkbox"
                                name="col"
                                value="{{ . }}"
                                id="col-{{ . }}"
                                {{ if $.Request.IsColSelected . }}checked{{ end }}
                                hx-get="{{ $.Request.LinkToggleCol . }}"
                        />
                        <label
                                class="form-check-label"
                                for="col-{{ . }}"
                        >{{ . }}</label>
                    </div>
                {{ end }}
                {{ range .Request.Labels }}
                    <div class="form-check">
                        <input
                                class="form-check-input disable-during-update"
                                type="checkbox"
                                name="col"
                                value="{{ . }}"
                                id="col-{{ . }}"
                                checked
                                hx-get="{{ $.Request.LinkToggleCol . }}"
                        />
                        <label
                                class="form-check-label"
                                for="col-label-{{ . }}"
                        >{{ . }}</label>
                    </div>
                {{ end}}
            </div>

        </div>
        <div class="col">
            {{ template "workload_table.gohtml" . }}
            <a href="{{.Request.LinkCSV}}" class="btn btn-outline-primary">Download CSV</a>
            <a class="btn btn-outline-primary" onclick="toggleSQLQuery()" id="toggle-sql-query-btn">Show SQL Query</a>
            <a class="btn btn-outline-primary" onclick="copySQLToClipboard()" id="copy-sql">Copy SQL Query</a>
            <div class="my-4 visually-hidden" id="sql-query-section">
                <label class="form-label" for="sql-query">SQL Query</label>
                <textarea rows="5"  class="form-control" id="sql-query">
                    {{ .AggData.SQLQuery }}
                </textarea>
                {{ $index := 0}}
                {{ range .AggData.SQLQueryArgs }}
                    {{ $index = add $index 1 }}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">${{ $index }}</span>
                        </div>
                        <input type="text" value="{{ . }}" class="form-control"/>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
</body>
</html>
